bin/
obj/
.vs/
.idea/
.vscode/
.dotnet/
dotnet-install.ps1
TestResults/
*.user
artifacts/
core-msbuild.log
src/**/bin/
src/**/obj/
src/**/artifacts/
tests/**/bin/
tests/**/obj/
website/node_modules/
website/build/
website/.docusaurus/
website/.cache-loader/
